<div class="body">
    <form class="container" action="/criar_enquete" method="POST">
        <div class="titulo">
            <label for="titulo">Título:</label>
            <input class="titulo" id="titulo" type="text" name="titulo" required>
        </div>
        <div class="opcoes" id="opcoes">
            <label for="op1">Opção 1:</label>
            <input id="op1" type="text" name="op1" required>
            <br>
            <label for="op2">Opção 2:</label>
            <input id="op2" type="text" name="op2" required>
            <br>
            <label for="op3">Opção 3:</label>
            <input id="op3" type="text" name="op3" required>
            <br>
        </div>
        <div>
            <button type="button" id="novaOpcao">Nova opção</button>
        </div>
        <div class="datas">
            <label for="dataIni">Data inicial:</label>
            <input id="dataIni" type="date" name="dataIni" required>
            <label for="dataFim">Data final:</label>
            <input id="dataFim" type="date" name="dataFim" required>
        </div>
        <div class="footer">
            <input type="submit" value="criar">
        </div>
    </form>
</div>

<script>
    document.getElementById('novaOpcao').addEventListener('click', () => {
        const opcoesDiv = document.getElementById('opcoes');
        const totalOpcoes = opcoesDiv.querySelectorAll('input[type="text"]').length;
        const novaOpcao = document.createElement('div');
        novaOpcao.innerHTML = `
            <label for="op${totalOpcoes + 1}">Opção ${totalOpcoes + 1}:</label>
            <input id="op${totalOpcoes + 1}" type="text" name="op${totalOpcoes + 1}">
            <br>
        `;

        if (totalOpcoes + 1 == 6) {
            document.getElementById('novaOpcao').style.display = 'none';
        }
    
        opcoesDiv.appendChild(novaOpcao);
    });
</script>